.bg-light{
background-color: rgb(200, 228, 214);
background: url("../images/Herobg3.png")!important;
background-repeat: no-repeat;
background-attachment:scroll;
background-position:left top;
} 

.p {
padding-left: 75px;
padding-right: 75px;
height: 888px;
}

.pAbout {
font-family: Hind;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #000000;
text-align: left;
padding-right: 25px;
}

.about {
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 57px;
display: flex;
text-align: left;
color: #000000;

}

.headerLead {
/* /H1 Poppins-semibold-50pt */
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 75px;
text-align: right;
/* /cookie icing */
color: #FCFBFB;
/* width: 897px;
height: 148px; */
/* left: 446px;
top: 212px; */
/* margin-left: 200px; */
padding-top: 100px;
/* border: 1px solid red; */
}

.d-flex {
padding-top: 400px;
}

.form-control {
width: 602px;
height: 80px;
top: 794px;
background: #FFEDD8;
border-radius: 0px;
border: 0px 0px 3px 0px solid #EDBA56 !important;
}

.me-2 {
border-bottom: 3px solid #EDBA56 !important;
font-family: Hind;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 34px;
align-items: center;
}

.btn-outline-success {
width: 247px;
height: 80px;
/* blueberry yumyum */
background: #EDBA56;
border-radius: 0px;
border: 0px;
font-family: Hind;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
align-items: center;
text-align: center;
color: black;
}

.btn {
transition-duration: 0.4s;
border: 2px solid #EDBA56;
}
      
.btn:hover {
background-color: white; /* Green */
border: 2px solid #EDBA56;
color: black;
}

.storyButton {
transition-duration: 0.4s;
border: 2px solid #EDBA56;
}
.storyButton:hover {
background-color: white; /* Green */
border: 2px solid #EDBA56;
color: black;
}

.p-module {
padding: 50px;
}

.navbar-brand {
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 40px;;
}

.navBrand {
width: 156.96px;
height: 108px;
}

.nav-link {
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 31px;
color: #444444;
}

.nav-item {
padding: 5px;
}

.nav-login {
padding-top: 10px;
font-family: Hind;
font-style: normal;
font-weight: normal;
}

.navbar {
height: 136px;
background: #FCFBFB !important;
}

.customFlex {
display: flex;
justify-content:flex-end;
}

.navbar *{
/* border: 2px solid red; */
}

.signupButton {
width: 196px;
height: 48px;
background: #EDBA56;
border-radius: 30px;
text-align: center;
}

.navbar-collapse {
    /* background: yellow; */
}

.logoName {
display: flex;
align-items: center;
}

.font-weight-light {
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 57px;
color: #000000;
display: flex;
align-items: left;
padding-top: 50px;
}

.card-body1 {
Border: 0px;
width: 295px;
padding: 0px;
}

.card-body2 {
padding: 0px;
}

.labels {
/* mango salsa */
background: #EDBA56;
font-family: Hind;
font-style: normal;
font-weight: 600;
font-size: 18px;
text-align: center;
color: #000000;
padding-top: 7px;
padding-bottom: 7px;
}

.labels2 {
/* mango salsa */
background: #038358;
font-family: Hind;
font-style: normal;
font-weight: 600;
font-size: 18px;
text-align: center;
color: #FFFFFF;
padding-top: 7px;
padding-bottom: 7px;
}

.btnText {
padding-top: 18px;
font-family: Hind;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
align-items: center;
text-align: center;
}

.row {
/* background-color: paleturquoise; */
}

.carousel-inner {
/* background-color: palevioletred; */
}

.carousel-item {
border: 0px solid red;
}

.dif {
    padding-left: 20px;
}

.card-title {
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 57px;
color: #000000;
display: flex;
align-items: left;
}

.col-md-9 {
/* border: 3px solid purple; */
padding-left: 0px !important;
}

.imgCOVID {
/* border: 3px solid green; */
width: 781px;
}

.mainStory {
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 23px;
padding-bottom: 20px;
text-align: left;
color: #000000;
}

.storyButton {
width: 230px;
height: 60px;
/* mango salsa */
background: #EDBA56;
}

.card-text {
font-family: Hind;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
color: #000000;
text-align: left;
padding-right: 20px;
padding-left: 0px;
}

.card {
/* border: 3px solid purple; */
border-radius: 0px;
border: 0px;
}

.card2 {
background-color: #EDBA56;
align-items: center;
}

.card2-alt {
background-color: #E9D0A0;
align-items: center;
}

.col-sm-3 {
padding-left: 0px;
padding-right: 20px;
}

.articleImg {
/* border: 3px solid red; */
}

.topicSq {
width: 144px!important;
height: 34px!important;
background: #038358!important;
padding-top: 10px!important;
margin: auto!important;
font-family: Hind!important;
font-style: normal!important;
font-weight: normal!important;
font-size: 13px!important;
line-height: 15px!important;
align-items: center!important;
text-align: center!important;
color: white!important;
position: relative!important;
margin-top: -20px!important;
z-index: 2!important;
/* margin-bottom: 20px; */
}

.articleCap {
width: 235px!important;
height: 100px!important;
padding-top: 20px!important;
padding-left: 5px!important;
padding-right: 5px!important;
font-family: Poppins!important;
font-style: normal!important;
font-weight: 600!important;
font-size: 18px!important;
line-height: 20px!important;
text-align: center!important;
}

.topicSq-alt {
width: 144px;
height: 34px;
background: #EDBA56 !important;
padding-top: 10px!important;
margin: auto!important;
font-family: Hind!important;
font-style: normal!important;
font-weight: normal!important;
font-size: 13px!important;
line-height: 15px!important;
align-items: center;
text-align: center;
color: BLACK!important;
position: relative!important;
margin-top: -20px!important;
z-index: 2!important;
/* margin-bottom: 20px; */
}

.footer {
left: 0px;
top: 5708px;
/* charcoal bbq */
background: #444444;
}

.footerLinks {
font-family: Hind;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
list-style-type: none; /* Remove bullets */
padding: 0; /* Remove padding */
margin: 0;
text-align: left;
}

.footerLogo {
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 80px;
text-align: right;

/* mango salsa */

color: #EDBA56;

}

.footerPhrase {
font-family: Hind;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: right;
color: #EDBA56;
}

.smallText {
padding-top: 50px;
font-family: Hind;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
text-align: left;
color: #FFFFFF;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

